[submodule "external-projects/mhdbdb-tei"]
	path = external-projects/mhdbdb-tei
	url = https://github.com/DigitalHumanitiesCraft/mhdbdb-tei-only.git
[submodule "external-projects/cpp-hopl4-zh"]
	path = external-projects/cpp-hopl4-zh
	url = https://github.com/Cpp-Ch/cpp-hopl4-zh.git
