entrypoint = "index.html"
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "static"
publicDir = "."

[[ports]]
localPort = 3000
externalPort = 80
