run = "node server.js"
modules = ["nodejs-20"]

[nix]
channel = "unstable"

[env]
REPLICATE_TOKEN = "sk-rd-79a3dcf5243dfff20f164c978f439ea08694b8aa1ff0b9f1e2a466323082988f"
ANTHROPIC_API_KEY = "sk-ant-"

[ports]
3000 = {
  host = "0.0.0.0"
  allow = ["publicly"]
}
